<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ascn.richlife.dao.login.GameNoticeDao">

    <!--查询游戏公告-->
    <select id="findGameNotice" resultMap="gameNotices">
        SELECT id,title,content,type,time,target_url,status,priority FROM wish_each.we_game_hall_notice WHERE status = '1' ORDER BY priority DESC
    </select>
    <resultMap id="gameNotices" type="GameNotice">
        <result column="content" property="content"/>
        <result column="target_url" property="target_url"/>
        <result column="title" property="title"/>
        <result column="priority" property="priority"/>
    </resultMap>

</mapper>