<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ascn.richlife.dao.card.InnerFateDao">


    <!--查询所有内圈命运卡牌信息-->
    <select id="selectCard" resultType="InnerFate">
        SELECT id,name,path,instructions,type,payAlgorithm,payType,payNumber,correlationId,diceRewardMoney,diceCondition,diceNumber,diceRewardType,cardIntegral,giveUpIntegral FROM we_card_inner_fate
    </select>

    <!--根据ID查询卡牌-->
    <select id="selectCardById" parameterType="java.lang.Integer" resultType="InnerFate">
        SELECT id,name,path,instructions,type,payAlgorithm,payType,payNumber,correlationId,diceRewardMoney,diceCondition,diceNumber,diceRewardType,cardIntegral,giveUpIntegral FROM we_card_inner_fate WHERE id =  #{id}
    </select>

</mapper>