<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ascn.richlife.dao.card.OuterRiskDao">

    <!--查询所有外圈风险卡牌信息-->
    <select id="selectCard" resultType="OuterRisk">
        SELECT id,type,name,path,instructionsOne,moneyOne,instructionsTwo,moneyTwo,integralType,integralName,integralValue,integralInstruction,cardIntegral FROM we_card_outer_risk
    </select>

    <!--根据ID查询玩家-->
    <select id="selectCardById" parameterType="java.lang.Integer" resultType="OuterRisk">
        SELECT id,type,name,path,instructionsOne,moneyOne,instructionsTwo,moneyTwo,integralType,integralName,integralValue,integralInstruction,cardIntegral FROM we_card_outer_risk WHERE id =  #{id}
    </select>

</mapper>