<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ascn.richlife.dao.card.SpecialDao">

    <!--查询所有特殊卡牌信息-->
    <select id="selectCard" resultType="Special">
        SELECT id,name,instructions,path,cardIntegral,giveUpIntegral FROM we_card_special
    </select>

    <!--根据ID查询玩家-->
    <select id="selectCardById" parameterType="java.lang.Integer" resultType="Special">
        SELECT id,name,instructions,path,cardIntegral,giveUpIntegral FROM we_card_special WHERE id =  #{id}
    </select>

</mapper>